#exercises-page {
  & /deep/ .exercise-name {
    padding: 12px 0;
  }

  & /deep/ .exercise-image {
    background: $exercise-image-bg;

    img {
      display: inline-block;
      max-width: 100px;
    }
  }
}
