#settings {
  padding-top: 110px;

  .form-group {
    label {
      color: $gray-color;
      font-size: $small-size-base;
    }
  }

  .profile-avatar {
    border: 1px solid $border-color;
    overflow: hidden;
    position: relative;
    @include border-radius($border-radius-size);
  }
}
