$first-primary-color:       #bf0b2c !default;

$first-success-color:       #0aa38c !default;
$first-warning-color:       #f5900f !default;
$first-danger-color:         $first-primary-color;

$navy-blue-color:           #02173d !default;

$black-color:               #000 !default;
$dark-gray-color:           #333 !default;
$gray-color:                #666 !default;
$light-gray-color:          #999 !default;
$lighter-gray-color:        #fefefe !default;
$white-color:               #fff !default;

$bg-body:                   #e9ebee !default;

$border-color:              #dddfe2 !default;
$exercise-image-bg:         #d9d9d9 !default;

$bg-modal:                  #f5f6f7 !default;

$comment-bg:                #f2f3f5 !default;

$message:                   #f1f0f0 !default;

$large-size-base:            1.125rem;
$size-base:                  1rem;
$small-size-base:            0.875rem;
$smallest-size-base:         0.75rem;

$size-h1:                    1.625rem;
$size-h2:                    1.5rem;
$size-h3:                    1.375rem;
$size-h4:                    1.25rem;
$size-h5:                    $large-size-base;
$size-h6:                    $size-base;

$body-bg-color:              $lighter-gray-color !default;
$border-radius-size:         $size-base / 8;
$border-radius-messages-size: $size-base;

$modal-header-bg:            $bg-modal;
$modal-footer-bg:            $bg-modal;

$table-bg:                   $border-color;
$table-border:               $border-color;
$table-row-bg:               $lighter-gray-color;
$table-head-light:           $bg-modal;

$bullet-size:                $size-base / 4;

$size-loading:               $size-base * 4;

$header-sidebar-bg:          $border-color;

$calendar-padding:           $size-base / 2;
$calendar-margin:            $size-base;
$calendar-bg:                $border-color;
$calendar-size-icon:         $size-base;

$list-group-border-color:    $border-color;
$list-group-shadow-color:    $border-color;
$list-group-margin:          $size-base;
$list-group-size-image:      $size-base;

$form-group-icon-color:      $navy-blue-color;

$profile-border-color:       $border-color;
$profile-padding:            $size-base;

$card-image-size:            $size-base * 7;
$card-image-small-size:      $size-base * 5;

$profile-icon-hover-color:   $border-color;

$room-avatar-size:           $size-base * 3;
$room-selected-color:        $lighter-gray-color;
$room-item-padding:          $size-base / 2;
