.text-white {
  color: #fff;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.p-h-60 {
  padding: 0 60px;
}

.p-v-60 {
  padding: 60px 0;
}