@mixin btn($primary-color, $success-color, $warning-color, $danger-color) {
  $agrs: $primary-color $success-color $warning-color $danger-color;
  $btns: primary success warning danger;

  @each $btn in $btns {
    $index: index($btns, $btn);

    .btn {
      &.btn-#{$btn} {
        background: nth($agrs, $index);
        border-color: nth($agrs, $index);
      }

      &.btn-outline-#{$index} {
        border-color: nth($agrs, $index);
        color: nth($agrs, $index);
      }
    }
  }

  .btn {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.red-color {
  @include btn($first-primary-color, $first-success-color, $first-warning-color, $first-danger-color);
}
