* {
  &::-webkit-scrollbar {
    border-radius: 4px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $first-primary-color;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
  }
}

body {
  background: $body-bg-color;
  font-family: 'Lato', sans-serif;
  font-size: $size-base;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a {
  @extend %transition;

  &:hover {
    text-decoration: none;
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: $white-color !important;
}
