$first-primary-color:       #bf0b2c !default;

$first-success-color:       #0aa38c !default;
$first-warning-color:       #f5900f !default;
$first-danger-color:         $first-primary-color;

$navy-blue-color:           #02173d !default;

$black-color:               #000 !default;
$dark-gray-color:           #333 !default;
$gray-color:                #666 !default;
$light-gray-color:          #999 !default;
$lighter-gray-color:        #f8f8f8 !default;
$white-color:               #fff !default;

$border-color:              #eee;
$exercise-image-bg:         #d9d9d9;

$size-base:                  1rem;
$small-size-base:            0.875rem;
$smallest-size-base:         0.75rem;

$size-h1:                    1.625rem;
$size-h2:                    1.5rem;
$size-h3:                    1.375rem;
$size-h4:                    1.25rem;
$size-h5:                    1.125rem;
$size-h6:                    $size-base;

$body-bg-color:              $white-color !default;
$border-radius-size:         $size-base / 4;

$modal-header-bg:            $border-color;
$modal-footer-bg:            $border-color;

$table-bg:                   $border-color;
$table-border:               $border-color;
$table-row-bg:               $lighter-gray-color;
$table-head-light:           $lighter-gray-color;

$bullet-size:                $size-base / 4;

$size-loading:               $size-base * 4;

$header-sidebar-bg:          $border-color;

$calendar-padding:           $size-base / 2;
$calendar-margin:            $size-base;
$calendar-bg:                $border-color;
$calendar-size-icon:         $size-base;

$list-group-border-color:    $border-color;
$list-group-shadow-color:    $border-color;
$list-group-margin:          $size-base;
$list-group-size-image:      $size-base;
$list-group-border-radius:   $size-base;

$form-group-icon-color:      $gray-color;

$profile-border-color:       $border-color;
$profile-padding:            $size-base;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xxs` as of v3.0.1
$screen-xxs:                 360px !default;

//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
