@import 'variables.scss';
@import 'mixins.scss';

.modal {
  &.modal-xs {
    .modal-dialog {
      width: 400px;
    }
  }

  &.modal-success {
    .modal-dialog {
      margin: 0 auto;

      .modal-body {
        .fa {
          font-size: 96px;
        }
      }
    }
  }

  &.show {
    .modal-dialog {
      margin-bottom: 0;
      margin-top: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
