div(style={'background': '#fafafa', 'padding': '60px 0'})
    div(style={'background': '#fff', 'border': '1px solid #eee', 'margin': 'auto', 'max-width': '600px', 'padding': '30px'})
        p(style={'margin': '0 0 10px'}) We heard that you lost your GymSchedule password. Sorry about that!

        p(style={'margin': '0 0 10px'}) But don’t worry! You can use the following link to reset your password:

        p(style={'margin': '0 0 10px'})
            a(href=`${link}`) #{link}

        p Thanks,
        p Your friends at GymSchedule
