div(style={'background': '#fafafa', 'padding': '60px 0'})
    div(style={'background': '#fff', 'border': '1px solid #eee', 'margin': 'auto', 'max-width': '600px', 'padding': '30px'})
        p(style={'margin': '0 0 10px'}) Hello #{name},

        p(style={'margin': '0 0 10px'}) We wanted to let you know that your Gym Schedule password was reset.

        p(style={'margin': '0 0 10px'}) Please do not reply to this email with your password. We will never ask for your password, and we strongly discourage you from sharing it with anyone.

        hr(style={'border': 'none', 'border-top': '1px solid #eee', 'margin': '10px 0'})

        p(style={'margin': '0', 'text-align': 'center'})
            a(href=`${homePage}` style={'color': '#959da5', 'text-decoration': 'none'}) Sign into Gym Schedule
