div(style={'background': '#fafafa', 'padding': '60px 0'})
    div(style={'background': '#fff', 'border': '1px solid #eee', 'margin': 'auto', 'max-width': '600px', 'padding': '30px'})
        p(style={'margin': '0 0 10px'}) Welcome,&nbsp;
            strong #{name}!&nbsp;

        p(style={'margin': '0 0 10px'}) Gym Schedule lets you log your plans, collaborate with others, and share what you’ve built with the world. We’re excited to see what you make.

        hr(style={'border': 'none', 'border-top': '1px solid #eee', 'margin': '10px 0'})

        p(style={'margin': '0', 'text-align': 'center'})
            a(href=`${homePage}` style={'color': '#959da5', 'text-decoration': 'none'}) Sign into Gym Schedule
