#profile {
  padding-top: 50px;

  .profile-header {
    margin-bottom: 30px;
    position: relative;

    .avatar {
      background-color: $white-color;
      border: 1px solid $profile-border-color;
      bottom: $size-base;
      left: $size-base;
      max-width: 170px;
      min-height: 170px;
      min-width: 170px;
      padding: $profile-padding / 4;
      position: absolute;
      @include border-radius($border-radius-size);
    }

    .profile-full-name {
      bottom: 70px;
      left: 202px;
      margin: 0;
      position: absolute;
    }

    nav {
      background: $white-color;
      padding-left: 202px;
    }

    .btn-group {
      bottom: 70px;
      position: absolute;
      right: 0;
    }
  }

  .sidebar {
    background: $white-color;
    border: 1px solid $profile-border-color;
    @include border-radius($border-radius-size);
  }

  .cover-photo {
    height: 310px;
    position: relative;

    .upload-cover-photo {
      border: 1px solid $border-color;
      cursor: pointer;
      left: $size-base;
      position: absolute;
      top: $size-base;
      @include border-radius($border-radius-size);
    }
  }
}

.activities-list {
  .activity {
    margin-bottom: 30px;

    .activity-body {
      background: $white-color;
      border: 1px solid $profile-border-color;
      position: relative;
      @include border-radius($border-radius-size);

      + .activity-body {
        margin-top: 15px;
      }

      .avatar {
        background-color: $white-color;
        border: 1px solid $profile-border-color;
        max-width: 40px;
        min-height: 40px;
        min-width: 40px;
      }

      .more-options {
        position: absolute;
        top: $size-base / 2;
        right: 12px;
      }

      .profile-like,
      .profile-comment {
        cursor: pointer;
      }
    }
  }
}
