#profile {
  padding-top: 50px;

  .profile-header {
    margin-bottom: 30px;
    position: relative;

    .avatar {
      background-color: $white-color;
      border: 1px solid $profile-border-color;
      bottom: $size-base;
      left: $size-base;
      max-width: 170px;
      min-height: 170px;
      min-width: 170px;
      padding: $profile-padding / 4;
      position: absolute;
      @include border-radius($border-radius-size, '');
    }

    .profile-full-name {
      bottom: 70px;
      left: 202px;
      margin: 0;
      position: absolute;
    }

    nav {
      padding-left: 202px;
    }
  }

  .sidebar {
    border: 1px solid $profile-border-color;
    @include border-radius($border-radius-size, '');
  }

  .cover-photo {
    height: 310px;
  }
}

.activities-list {
  .activity {
    border: 1px solid $profile-border-color;
    margin-bottom: 30px;
    position: relative;
    @include border-radius($border-radius-size, '');

    .avatar {
      background-color: $white-color;
      border: 1px solid $profile-border-color;
      max-width: 40px;
      min-height: 40px;
      min-width: 40px;
    }

    .more-options {
      position: absolute;
      top: $size-base / 2;
      right: $size-base;
    }
  }
}
