#settings {
  padding-top: 110px;

  .form-group {
    label {
      color: $gray-color;
      font-size: $small-size-base;
    }
  }

  .profile-avatar {
    border: 1px solid $border-color;
    overflow: hidden;
    position: relative;
    @include border-radius($border-radius-size, '');

    &:hover {
      label {
        opacity: 1;
      }
    }

    label {
      background: rgba($dark-gray-color, .8);
      bottom: 0;
      cursor: pointer;
      left: 0;
      margin: 0;
      opacity: 0;
      position: absolute;
      width: 100%;
      @extend %transition;

      input {
        cursor: pointer;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 1000px;
      }
    }
  }
}
