.badge {
  &-shadow {
    @include border-radius($border-radius-size);
    @include box-shadow(0, 1px, 3px, 0, rgba($black-color, .2));
  }

  &-light {
    background: $white-color;
  }
}

.float-badge {
  position: relative;

  .badge {
    bottom: 0;
    position: absolute;
    right: $size-base / 2;
    @include translate(0, 50%);
  }
}

.red-color {
  .badge-primary {
    background: $first-primary-color;
    border: 1px solid $first-primary-color;

    &:hover {
      background: $white-color;
      color: $first-primary-color;
    }
  }

  .badge-outline {
    background: $white-color;
    border: 1px solid $first-primary-color;
    color: $first-primary-color;

    &:hover {
      background: $first-primary-color;
      color: $white-color;
    }
  }
}
