.btn {
  margin: 0 5px;
  @include border-radius($border-radius-size);

  &:focus {
    outline: none;
    @include box-shadow(0, 0, 0, 0, transparent);
  }

  &-lg {
    font-size: $large-size-base;
    height: 50px;
    min-width: 180px;
  }

  &-md {
    font-size: $size-base;
    height: 45px;
    min-width: 150px;
  }

  &-sm {
    font-size: $small-size-base;
    height: 35px;
    min-width: 110px;
    padding-left: $size-base;
    padding-right: $size-base;
  }

  &-xs {
    font-size: $smallest-size-base;
    height: 30px;
    min-width: 80px;
  }
}

@mixin btn($primary-color, $success-color, $warning-color, $danger-color) {
  $agrs: $primary-color $success-color $warning-color $danger-color;
  $btns: primary success warning danger;

  @each $btn in $btns {
    $index: index($btns, $btn);

    .btn {
      &-#{$btn} {
        background: nth($agrs, $index);
        border-color: nth($agrs, $index);
        color: $white-color;

        &:hover {
          background: rgba(nth($agrs, $index), .85);
        }
      }

      &.btn-outline-#{$index} {
        border-color: nth($agrs, $index);
        color: nth($agrs, $index);
      }
    }
  }

  .btn {
    &-secondary {
      background: $navy-blue-color;
      border-color: $navy-blue-color;
      color: $white-color;

      &:hover {
        background: rgba($navy-blue-color, .85);
      }
    }

    &-light {
      background: $white-color;
      border-color: $border-color;
      color: $gray-color;

      &:hover {
        background: $first-primary-color;
        border-color: $first-primary-color;
        color: $white-color;
      }
    }

    &-transparent {
      background: transparent;
      border-color: transparent;
      color: $gray-color;

      &:hover {
        color: $first-primary-color;
      }
    }
  }
}

.red-color {
  @include btn($first-primary-color, $first-success-color, $first-warning-color, $first-danger-color);
}
