@mixin btn($primary-color, $success-color, $warning-color, $danger-color) {
  $agrs: $primary-color $success-color $warning-color $danger-color;
  $btns: primary success warning danger;

  @each $btn in $btns {
    $index: index($btns, $btn);

    .btn {
      &.btn-#{$btn} {
        background: nth($agrs, $index);
        border-color: nth($agrs, $index);

        &:hover {
          background: rgba(nth($agrs, $index), .85);
        }
      }

      &.btn-outline-#{$index} {
        border-color: nth($agrs, $index);
        color: nth($agrs, $index);
      }
    }
  }

  .btn {
    &:focus {
      outline: none;
      @include box-shadow(0, 0, 0, 0, transparent);
    }

    &.btn-lg {
      max-height: 50px;
      min-width: 180px;
      padding-bottom: .7rem;
      @include border-radius(50px, 'auto');
    }
  }
}

.red-color {
  @include btn($first-primary-color, $first-success-color, $first-warning-color, $first-danger-color);
}
