@mixin btn($primary-color, $success-color, $warning-color, $danger-color) {
  $agrs: $primary-color $success-color $warning-color $danger-color;
  $btns: primary success warning danger;

  @each $btn in $btns {
    $index: index($btns, $btn);

    .btn {
      &.btn-#{$btn} {
        background: nth($agrs, $index);
        border-color: nth($agrs, $index);
        color: $white-color;

        &:hover {
          background: rgba(nth($agrs, $index), .85);
        }
      }

      &.btn-outline-#{$index} {
        border-color: nth($agrs, $index);
        color: nth($agrs, $index);
      }
    }
  }

  .btn {
    &:focus {
      outline: none;
      @include box-shadow(0, 0, 0, 0, transparent);
    }

    &.btn-secondary {
      background: $navy-blue-color;
      border-color: $navy-blue-color;
      color: $white-color;

      &:hover {
        background: rgba($navy-blue-color, .85);
      }
    }

    &.btn-light {
      border-color: $border-color;
    }

    &.btn-lg {
      height: 50px;
      min-width: 180px;
      padding-bottom: .7rem;
      padding-left: 2rem;
      padding-right: 2rem;
      @include border-radius(50px, 'auto');
    }

    &.btn-md {
      height: 40px;
      margin: 0 5px;
      min-width: 100px;
      @include border-radius(40px, 'auto');
    }

    &.btn-sm {
      font-size: $small-size-base;
      height: 30px;
      line-height: 28px;
      margin: 0 5px;
      min-width: 80px;
      padding: 0 $size-base;
      @include border-radius(40px, 'auto');
    }
  }
}

.red-color {
  @include btn($first-primary-color, $first-success-color, $first-warning-color, $first-danger-color);
}
