.card {
  border: none;

  .card-header {
    background: none;
    padding: 0;
    @include border-radius(0, '');

    .card-header-tabs {
      border-bottom: none;
      margin: 0;

      &:focus {
        border: none;
        box-shadow: none;
        outline: none;
      }

      .nav-item {
        margin-bottom: 0;
        width: 50%;

        .nav-link {
          border: none;
          color: $dark-gray-color;
          font-size: $small-size-base;
          padding: 10px 10px 9px;
          @include border-radius(0, '');
        }
      }
    }
  }

  .card-body {
    padding: 0;
  }
}

.red-color {
  .card .card-header {
    border-bottom-color: $first-primary-color;

    .card-header-tabs {
      .nav-item.show .nav-link,
      .nav-link.active {
        background: $first-primary-color;
        border: none;
        color: $white-color;
      }
    }
  }
}
