input,
input.form-control,
select,
select.form-control,
textarea,
textarea.form-control {
  border-color: $border-color;
  @include border-radius($border-radius-size);
  @include box-shadow(0, 0, 0, 0, transparent);

  &:focus {
    @include box-shadow(0, 0, 0, 0, transparent);
  }
}

input[readonly],
input[readonly].form-control {
  background: $white-color;

  &:hover {
    cursor: default;
  }

  &:focus {
    border-color: transparent !important;
  }
}

select,
select.form-control {
  @extend %appearance;
}

.input-group-lg {
  input,
  input.form-control,
  select,
  select.form-control {
    @include border-radius($border-radius-size);
    height: 50px;
  }

  input,
  input.form-control,
  textarea,
  textarea.form-control {
    padding-left: 20px;
    color: $gray-color;
    font-family: 'Lato', sans-serif;
    font-size: $size-base;

    @include placeholder {
      font-style: italic;
    }
  }
}

.form-group {
  margin-bottom: 30px;
}

.form-group-has-icon {
  position: relative;

  svg {
    color: $form-group-icon-color;
    position: absolute;
    right: 20px;
    top: 50%;
    z-index: 1;
    @include translate(0, -50%);
  }
}

.red-color {
  input,
  input.form-control,
  select,
  select.form-control,
  textarea,
  textarea.form-control {
    &:focus {
      border-color: $first-primary-color;
    }
  }
}
