$padding-nav-link: $size-base / 8;

.red-color {
  #main-header {
    background: $first-primary-color;
  }
}

#main-header {
  height: 50px;

  .navbar {
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
  }

  .avatar {
    color: $white-color;
    font-size: 20px;
  }

  .dropdown-menu {
    left: auto;
    right: 0;
    top: 40px;
  }
}

#main-logo {
  h1 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
  }
}

#main-nav {
  flex-grow: inherit;
  margin-left: auto;

  a {
    color: $white-color;
    padding-left: $padding-nav-link;
    padding-right: $padding-nav-link;
  }
}
