.history {
  .history-date {
    padding-left: 18px;
    position: relative;

    &:before {
      content: '';
      height: $bullet-size;
      left: 0;
      position: absolute;
      top: 50%;
      width: $bullet-size;
      @include border-radius(50%, '');
      @include translate(0, -50%);
    }
  }
}

.red-color {
  .history-date {
    &:before {
      background: $first-primary-color;
    }
  }
}
