.list-cards {
  .card {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    @include border-radius($border-radius-size, '');
    @include box-shadow(0, 4px, 6px, 0, $list-group-shadow-color);

    .image {
      min-height: 253px;
      position: relative;

      svg {
        left: 50%;
        position: absolute;
        top: 50%;
        @include translate(-50%, -50%);
      }
    }

    .body {
      padding: 0.625rem 0.75rem;
    }
  }

  &-horizontal {
    .card {
      display: block;
      min-height: $card-image-size;
      padding-bottom: $size-base / 2;
      padding-left: $size-base * 8;
      padding-right: $size-base / 2;
      position: relative;

      .image {
        height: 100%;
        left: 0;
        max-width: $card-image-size;
        min-height: $card-image-size;
        position: absolute;
        top: 0;
      }

      .card-title {
        margin-top: $size-base;
      }

      .card-remove {
        bottom: $size-base / 2;
        left: $size-base * 8;
        position: absolute;
      }
    }
  }
}
