.page-title {
  background-attachment: fixed;
  background-position: 50% 95%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  position: relative;

  &::before {
    background: rgba($navy-blue-color, .2);
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  h2 {
    color: $white-color;
    font-size: 3.75rem;
    font-weight: 900;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    @include translate(-50%, -50%);
  }
}

#plans-page {
  .page-title {
    background-image: url('../images/plan-title.jpg');
  }
}

#workouts-page {
  .page-title {
    background-image: url('../images/login-bg.jpg');
  }
}

#exercises-page {
  .page-title {
    background-image: url('../images/exercises-bg.jpg');
    background-position: 0 50%;
  }
}
