.table {
  &.table-striped {
    overflow: hidden;
    @include border-radius($border-radius-size, '');
    @include box-shadow(0, 0, 0, 1px, $table-border);

    thead {
      tr {
        th {
          background: $table-bg;
          border: none;
          color: $navy-blue-color;
          font-weight: 700;
          padding: 18px 0;
          text-transform: uppercase;

          &:first-child {
            @include border-radius($border-radius-size 0 0 0, '');
          }

          &:last-child {
            @include border-radius(0 $border-radius-size 0 0, '');
          }
        }
      }
    }

    tbody {
      tr {
        &:nth-of-type(odd) {
          background: none;
        }

        &:nth-of-type(even) {
          background: $table-row-bg;
        }

        &:last-child {
          td {
            &:first-child {
              @include border-radius(0 0 0 $border-radius-size, '');
            }

            &:last-child {
              @include border-radius(0 0 $border-radius-size 0, '');
            }
          }
        }

        td {
          border-top-color: $table-border;
          color: $light-gray-color;
          padding: 15px 0;
          vertical-align: middle;

          a {
            color: $first-primary-color;
          }

          .image {
            border: 1px solid $table-border;
            display: inline-block;
            height: 70px;
            position: relative;
            width: 70px;
            @include border-radius($border-radius-size, '');

            svg {
              left: 50%;
              position: absolute;
              top: 50%;
              @include translate(-50%, -50%);
            }
          }
        }
      }
    }
  }

  .thead-light {
    th {
      background: $table-head-light;
      border: none;
      color: $light-gray-color;
      font-size: $small-size-base;
      font-weight: 400;
      width: 25%;
    }
  }
}
