.smallest {
  font-size: $smallest-size-base;
}

.text-muted {
  color: $gray-color;
}

.red-color {
  .text-primary,
  .text-danger {
    color: $first-primary-color !important;
  }

  .text-warning {
    color: $first-warning-color !important;
  }

  .text-secondary {
    color: $navy-blue-color !important;
  }

  .text-success {
    color: $first-success-color !important;
  }
}
