.smallest {
  font-size: $smallest-size-base;
}

.red-color {
  .text-primary,
  .text-danger {
    color: $first-primary-color !important;
  }

  .text-warning {
    color: $first-warning-color;
  }

  .text-secondary {
    color: $navy-blue-color;
  }
}
