.red-color {
  .full-calendar-body {
    color: red;
    .dates {
      .events-day.today {
        .event-box {
          .event-item {
            border-left-color: $white-color !important;
            border-top-color: $white-color !important;
          }
        }
      }

      .day-cell.today {
        background: $first-primary-color !important;
      }

      .event-item {
        border: 10px solid $first-primary-color;
        border-bottom-color: transparent;
        border-right-color: transparent;
      }
    }
  }
}

.comp-full-calendar {
  background: transparent !important;
  padding: 30px 20px !important;

  .full-calendar-header {
    .title {
      font-size: $size-h4;
    }
  }

  .full-calendar-body {
    margin-top: $calendar-margin * 2 !important;

    .weeks {
      background: $calendar-bg;
      border-color: $border-color !important;

      .week {
        border-color: $border-color !important;
        color: $navy-blue-color;
        padding: $calendar-padding;
      }
    }

    .dates {
      background: $lighter-gray-color;

      .week-row,
      .day-cell {
        border-color: $border-color !important;
      }

      .day-number {
        color: $navy-blue-color;
      }

      .day-cell {
        height: 100px;
        min-height: auto;
        padding: $calendar-padding !important;

        &.today {
          &.not-cur-month {
            .day-number {
              color: $white-color !important;
            }
          }

          .day-number {
            color: $white-color;
          }
        }
      }

      .events-day {
        height: 100px;
        min-height: auto !important;
        overflow: initial !important;
        position: relative;

        &.today {
          .event-box {
            left: 0;
          }
        }

        .event-box {
          left: 1px;
          position: absolute;
          top: 0;

          .event-item {
            background: transparent !important;
            height: 0 !important;
            margin: 0 !important;
            padding: 0 !important;
            width: 0 !important;
          }
        }
      }
    }
  }
}
