@import 'variables.scss';
@import 'mixins.scss';

.btn {
  border-radius: $border-radius-size * 2;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-sm {
  padding-left: $button-spacing;
  padding-right: $button-spacing;
}
