@mixin border-radius($input, $type) {
  @if $type == 'auto' {
    -webkit-border-radius: $input / 2;
       -moz-border-radius: $input / 2;
        -ms-border-radius: $input / 2;
            border-radius: $input / 2;
  } @else {
    -webkit-border-radius: $input;
       -moz-border-radius: $input;
        -ms-border-radius: $input;
            border-radius: $input;
  }
}
